<!-- <h1>Blade Runner Home</h1>
<h3>It's 2049.</h3>

<ul>
  <li>About</li>
  <li>BladeRunner</li>
  <li>BladeRunner2049</li>
</ul> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title><%= title %></title>
    <link rel="stylesheet" src="styles/style.css">
</head>
  <body>
    <div>
      <h1>Blade Runner Hub</h1>
    </div>
    <!-- <h3>It's 2049.</h3> -->

    <!-- header element -->
    <div>
    <h3>Main Characters:</h1>
      <h4><a href="http://localhost:2048/deckard">Deckard</a></h4>
      <h4><a href="http://localhost:2048/officerk">Joe (Officer K)</a></h4>
      <h4><a href="http://localhost:2048/ltjoshi">Lieutenant Joshi</a></h4>
    </div>

    <h1>Synopsis</h1>
    <h3>BLADE RUNNER 2049</h3>
    <div class="content">
    <p>
            <h5>Theatrical Premiere: October 6, 2017</h5>
            From Oscar-nominated director Denis Villeneuve (Arrival) comes Alcon Entertainment’s science fiction thriller Blade Runner 2049, the much-anticipated sequel to the acclaimed sci-fi film Blade Runner.<br>

            Three decades after the events of the first film, a new blade runner, LAPD Officer K, unearths a long-buried secret that has the potential to plunge what’s left of society into chaos. K’s discovery leads him on a quest to find Rick Deckard, a former LAPD blade runner who has been missing for 30 years.<br>

            The film stars Oscar nominees Ryan Gosling (La La Land) as K, and Harrison Ford (the Star Wars films, Witness), reprising the role of Rick Deckard. The main international cast also includes Ana de Armas (War Dogs), Sylvia Hoeks (Renegades), Robin Wright (Wonder Woman), Mackenzie Davis (The Martian), Carla Juri (Brimstone), and Lennie James (The Walking Dead), with Dave Bautista (the Guardians of the Galaxy films) and Oscar winner Jared Leto (Dallas Buyers Club).<br>

            Blade Runner 2049 was produced by Oscar nominees Andrew A. Kosove & Broderick Johnson (The Blind Side) and three time Emmy winner Bud Yorkin & Cynthia Sikes Yorkin. Multiple Oscar nominee Ridley Scott (The Martian, Gladiator), who directed the first Blade Runner, is an executive producer. Bill Carraro served as executive producer and unit production manager.<br>
    </p>
    </div>
    <h3>Genre: Suspense/Thriller, Sci-Fi/Fantasy</h3>

    <script src="public/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
